<?xml version="1.0"?>
<config>
    <modules>
        <Thirdwatch_Mitra>
            <version>1.0.0</version>
        </Thirdwatch_Mitra>
    </modules>

    <global>
        <models>
            <mitra>
                <class>Thirdwatch_Mitra_Model</class>
            </mitra>
        </models>
        <blocks>
            <mitra>
                <class>Thirdwatch_Mitra_Block</class>
            </mitra>
        </blocks>
        <resources>
            <mitra_setup>
                <setup>
                    <module>Thirdwatch_Mitra</module>
                </setup>
                <connection><use>core_setup</use></connection>
            </mitra_setup>
            <mitra_write>
                <connection><use>core_write</use></connection>
            </mitra_write>
            <mitra_read>
                <connection><use>core_read</use></connection>
            </mitra_read>
        </resources>
        <helpers>
            <mitra>
                <class>Thirdwatch_Mitra_Helper</class>
            </mitra>
        </helpers>
        <events>
            <admin_system_config_changed_section_thirdwatch>
                <observers>
                    <thirdwatch_mitra>
                        <type>singleton</type>
                        <class>mitra/observer</class>
                        <method>handle_adminSystemConfigChangedSection</method>
                    </thirdwatch_mitra>
                </observers>
            </admin_system_config_changed_section_thirdwatch>

            <sales_order_payment_void>
                <observers>
                    <thirdwatch_mitra>
                        <type>singleton</type>
                        <class>mitra/observer</class>
                        <method>salesOrderPaymentVoid</method>
                    </thirdwatch_mitra>
                </observers>
            </sales_order_payment_void>

            <sales_order_payment_refund>
                <observers>
                    <thirdwatch_mitra>
                        <type>singleton</type>
                        <class>mitra/observer</class>
                        <method>salesOrderPaymentRefund</method>
                    </thirdwatch_mitra>
                </observers>
            </sales_order_payment_refund>

            <sales_order_payment_cancel>
                <observers>
                    <thirdwatch_mitra>
                        <type>singleton</type>
                        <class>mitra/observer</class>
                        <method>salesOrderPaymentCancel</method>
                    </thirdwatch_mitra>
                </observers>
            </sales_order_payment_cancel>

            <sales_order_save_after>
                <observers>
                    <thirdwatch_mitra>
                        <type>singleton</type>
                        <class>mitra/observer</class>
                        <method>salesOrderSaveAfter</method>
                    </thirdwatch_mitra>
                </observers>
            </sales_order_save_after>

            <customer_login>
                <observers>
                    <thirdwatch_mitra>
                        <type>singleton</type>
                        <class>mitra/observer</class>
                        <method>customerLogin</method>
                    </thirdwatch_mitra>
                </observers>
            </customer_login>

            <customer_logout>
                <observers>
                    <thirdwatch_mitra>
                        <type>singleton</type>
                        <class>mitra/observer</class>
                        <method>customerLogout</method>
                    </thirdwatch_mitra>
                </observers>
            </customer_logout>

            <customer_register_success>
                <observers>
                    <thirdwatch_mitra>
                        <type>singleton</type>
                        <class>mitra/observer</class>
                        <method>customerRegisterSuccess</method>
                    </thirdwatch_mitra>
                </observers>
            </customer_register_success>

            <customer_save_after>
                <observers>
                    <thirdwatch_mitra>
                        <type>singleton</type>
                        <class>mitra/observer</class>
                        <method>customerUpdate</method>
                    </thirdwatch_mitra>
                </observers>
            </customer_save_after>

            <checkout_cart_product_add_after>
                <observers>
                    <thirdwatch_mitra>
                        <type>singleton</type>
                        <class>mitra/observer</class>
                        <method>cartAdd</method>
                    </thirdwatch_mitra>
                </observers>
            </checkout_cart_product_add_after>

            <checkout_cart_product_update_after>
                <observers>
                    <thirdwatch_mitra>
                        <type>singleton</type>
                        <class>mitra/observer</class>
                        <method>cartUpdate</method>
                    </thirdwatch_mitra>
                </observers>
            </checkout_cart_product_update_after>

            <sales_quote_remove_item>
                <observers>
                    <thirdwatch_mitra>
                        <type>singleton</type>
                        <class>mitra/observer</class>
                        <method>cartRemove</method>
                    </thirdwatch_mitra>
                </observers>
            </sales_quote_remove_item>
        </events>
    </global>

    <frontend>
        <routers>
            <mitra>
                <use>standard</use>
                <args>
                    <module>Thirdwatch_Mitra</module>
                    <frontName>mitra</frontName>
                </args>
            </mitra>
        </routers>
    </frontend>

    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <thirdwatch>
                                            <title>Thirdwatch - All</title>
                                        </thirdwatch>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <thirdwatch>
            <thirdwatch_group>
                <plugin_active>1</plugin_active>
            </thirdwatch_group>
        </thirdwatch>
    </default>
</config>
