<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <thirdwatch translate="label" module="mitra">
            <label>Thirdwatch</label>
            <sort_order>100</sort_order>
        </thirdwatch>
    </tabs>
    <sections>
        <thirdwatch translate="label" module="mitra">
            <label>Settings</label>
            <tab>thirdwatch</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>

            <groups>
                <thirdwatch_group translate="label" module="mitra">
                    <label>Api settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>
                        <secret_key translate="label">
                            <label>API Key: </label>
                            <comment><![CDATA[Obtain this key by registering on <a href="https://dashboard.thirdwatch.ai/login" target="_blank">here</a>.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </secret_key>

                        <store_url translate="label store_url">
                            <label>Store Base URL: </label>
                            <frontend_type>Text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>For example, https://www.thirdwatch.ai</comment>
                        </store_url>

                        <plugin_active translate="label comment">
                            <label>Is active?</label>
                            <comment>Select yes to enable the thirdwatch plugin.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </plugin_active>

                    </fields>
                </thirdwatch_group>
            </groups>
        </thirdwatch>
    </sections>
</config>